<!DOCTYPE html>
<html lang="en" class="h-100">
{% include head.html %}
<body class="d-flex flex-column h-100">

	<main class="flex-shrink-0 container mt-5">
	{% include navbar.html %}
	{{ content }}
	</main>
</body>
<footer class="mt-5">
	{% include footer.html %}
</footer>
	{% include analytics.html %}
	{% include scripts.html %}
</html>

<!--

   \|\||       __``___`.`'`'`-```.'`
  -'`||||/    /  _/  ----- `  .\`
 /7  `|||||/  \ /  --`--`_._`/
/    |||||||/.// <.  ` _`_/
\-' ||||||||| `     `_/    `-._
  `|||||||||||              |` -`.
    |||||              \    |   `\\
     ||||\  `_____...---\_   \    \\
       |  \  \           | \  |    ``-._--.
       |  |\  \         / / | |       ``---'
     _/  /_/  /      __/ / _| |
    (,__/(,__/      (,__/ (,__/

         created with ♥ by
          Jalilzoda Dunyo

-->